@charset "UTF-8";
#text{
	width:1450px;
	height: 40px;
	font-size: 20px;
	padding-left: 20px;
	border: 1px solid red;
	border-radius: 10px;
	background: #6e747d;
}
.c1{
	
	width: 775px;
	height: 500px;
	background: black;
	font: #ffffff;
	color: #ffffff;
}
#t1{
	
	width: 290px;
	height: 300px;
	background: white;
	
}
#t2{
	width: 10px;
	height: 300px;
	background: black;
	color: blue;
	
}
#button{width: 775px;
		height: 50px;
		background: red;
		}
#button1{width: 380px;
		height: 50px;
		background: blue;
		color : white;
		}
#button2{width: 380px;
		height: 50px;
		background: blue;
		color : white;
		}
#b1{
	height: 300px;
	background: black;
	color: red;
}
#b2{
	height: 300px;
	background: black;
	color: red;
}
#b3{
	width : 40px;
	height: 45px;
	border:1px solid red;
	border-radius: 20px;
	background: black;
	color: red;
}
#textarea{
	resize:none;
	border:1px solid red;
	border-radius: 20px;
	 font-family: 'Roboto', sans-serif;
	  font-size: 20px;
	  text-transform: uppercase;
	  letter-spacing: 2.5px;
	  font-weight: 500;
	  color:#b5b80f;
	  
}
  
/* .shadow img:hover */
#div img:hover{ /* img 마우스 오버시*/
       cursor:pointer;

       transform:scale(1.1); /* 마우스 오버시 이미지 크기를 1.1 배만큼 확대시킨다. */

       -o-transform:scale(1.1); 
       -moz-transform:scale(1.1);

       -webkit-transform:scale(1.1);


       transition: transform .35s;  
       -o-transition: transform .35s;
       -moz-transition: transform .35s;
       -webkit-transition: transform .35s;
    /* 마우스 오버시 이미지가 즉시 커지지않고 30.5 second 의 시간에 걸쳐 커진다 애니메이션 효과*/
  }

#btn {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;

 
  }

#btn {
  background-color: rgb((255, 255, 255), 0, 0);
  box-shadow: 0px 15px 20px rgba(255, 051, 051, 0.4);
  color: rgb(0, 0, 0);
  transform: translateY(-7px);
}

.wrapLeft {
	top : 17px;
 	left : 17px;
	position : fixed;
}

.wrap {
	top : 17px;
 	right : 17px;
	position : fixed;
}

