<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="../css/css.css" />
</head>
<body style="background-image: url('img/1711301058088170.jpg');" align="center">
<body bgcolor="black">
		<img src="../css/넷플렉스.png" width="150" height="80">
	<h1>로그인</h1>
	<form action="../controller/logInController.jsp?action=login" method="post">
		<table align="center">
			<tr>
				<td>아이디</td>
				<td><input type="text" name="id" id="id"></td>
			</tr>
			<tr>
				<td>비밀번호</td>
				<td><input type="text" name="pw" id="pw"></td>
			</tr>
		</table>
		<br> <input type="submit" value="로그인">
	</form>
	<br>
	<br>
	<a href="signIn.html">아직 회원이 아니시라면 이곳을 누르세요</a>
</body>
</html>